<!-- Kit: Your footer.ejs tag is missing until the closing </body> and </html> tag. -->

<footer>
    <div class="container">
        <div class="footer-block">
            <h3>VISIT US</h3>
            <p>CodeSquad Comics
                <br>
                123 Dorchester Avenue
                <br>
                Boston, MA 02124
            </p>
        </div>
        <div class="footer-block">
            <h3>LINKS</h3>
            <a href=#>Home</a>
            <br>
            <a href=#>About</a>
            <br>
            <a href=#>Login</a>
        </div>
        <div class="footer-block">
            <h3>FOLLLOW US</h3>
            <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
        </div>
        <div class="footer-block">
            <h3>A PRODUCT OF</h3>
            <a href="http://codesquad.org/" target="_blank">
                <img class="img2" src="/images/CodeSquad-logo-b.png" alt="">
            </a>
        </div>
</footer>

</body>

</html>