<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/f2df0e5efa.js" crossorigin="anonymous"></script>
    <!-- load hamburger menu for menu -->
    <script src="https://kit.fontawesome.com/015d69c33c.js" crossorigin="anonymous"></script>
</head>

<!-- add google fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka the Great">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">

<!-- Kit: Your head.ejs is missing  the opening </body> tag -->
<body>