<header>
    <a href="/index" class="logo"><img class="img1"
                src="/images/CodeSquad-Comics-logo.png" alt="CodeSquad-Comics-logo"></a>
    <nav class="navbar">
        <ul class="navbar-list">
            <li><a href="/index">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/login">LOGIN</a></li>
        </ul>
    </nav>    

    <!-- hamburger menu for mobile -->
    <a href="javascript:void(0);" class="menu-icon">
        <i class="fas fa-bars"></i>
    </a>
</header>